.link {
  font-family: $font-family-01;
  color: $dark-color;
  display: inline-block;
  margin-top: 10px;
  font-size: 1.6rem;
  border-bottom: 2px solid $secondary-color;
  margin-right: 25px;
  padding-bottom: 2px;
  position: relative;
  @include transition(0.20s, all, ease-in-out);
  text-decoration: none;

  &:hover {
    text-decoration: none;
    border-color: lighten($secondary-color, 25%);
    color: darken($secondary-color, 100%);
  }
}