// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: #826d61;
$primary-color: #826d61;
$secondary-color: #BF8C2C;
$secondary-color-variant1: #D8B011;
$grey-color-1: #EBE9E8;
$dark-color: #333333;
$darkgray-color: #666666;
$lightblue-color: #DEE6ED;
$font-family-01: 'Corbel', Tahoma, sans-serif;
$font-family-02: 'Droid Serif', Georgia, sans-serif;


@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@mixin border-radius($size){
  border-radius: $size;
}

@mixin transition($time, $all, $ease) {
  -webkit-transition: $time $all $ease;
  -moz-transition: $time $all $ease;
  -ms-transition: $time $all $ease;
  -o-transition: $time $all $ease;
  transition: $time $all $ease;
}

@mixin clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}