.information {
  padding: 20px 0;
  & .fa {
    @include transition(0.20s, all, ease-in-out);
    font-size: 1.3rem;
    padding-right: 3px;
  }
  &__title {
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: bold;
    color: $secondary-color;
    margin-bottom: 10px;
  }
  &__subtitle {
    color: $dark-color;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    margin-top: 4px;
  }
  &__link {
    padding: 10px 0;
    border-bottom: 1px solid $grey-color-1;
    display: block;
    text-decoration: none;
    @include transition(0.20s, color, ease-in-out);

    @media (min-width: $screen-xs-max) {
      &:first-child {
        border-top: 1px solid $grey-color-1;
      }
    }

    &:hover {
      color: darken($secondary-color, 100%);
      text-decoration: none;
      border-bottom: 1px solid $secondary-color;
      & .fa {
        padding-right: 5px;
        color: $secondary-color;
      }
    }

    &__copy {
      font-family: 'Droid Serif', sans-serif;
      font-style: italic;
      display: block;
      font-size: 1.3rem;
      line-height: 1.8rem;
      padding-right: 40px;
      color: lighten($darkgray-color, 20%);
      margin-left: 18px;
    }
  }
}

.footer {
  background: $primary-color;
  color: #fff;
  font-size: 1.5rem;
  overflow: hidden;
  padding: 50px 0 0 0;
  margin-top: 30px;
  @include clearfix;

  & .fa {
    color: #fff;
    width: 16px;
  }

  &__link {
    display: block;
    color: lighten($primary-color, 40%);
    text-decoration: none;
    &:hover {
      color: lighten($primary-color, 46%);
      text-decoration: none;
    }
  }

  &__title {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: bold;
    margin-bottom: 6px;
  }

  &__content {
    color: lighten($primary-color, 40%);
    padding: 0;
    margin-bottom: 20px;
  }

  &__sub {
    background: darken($primary-color, 3%);
    position: relative;
  }

  &__logo {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    float: left;
    margin-right: 10px;
  }

  &__payoff {
    color: white;
    padding: 5px 0 5px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    margin-top: 50px;
    font-size: 1.4rem;
  }

  &__proposition {
    position: relative;
    top: 4px;
  }
}